:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;

    background-color: var(--dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right 48vw bottom 40vh, left 45vw top 50vh;
    background-repeat: no-repeat, no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fff;
    border-radius: 1rem;

    max-width: 20rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-card-image {
    border-radius: 1rem 1rem 0 0;

    width: 100%;
}

.profile-photo {
    border: 5px solid #fff;
    border-radius: 50%;
    margin-top: calc(-50px - 5px);
}

h1 {
    font-size: 18px;
    font-weight: 300;
    color: var(--dark-grayish-blue);

    margin: 1.4rem 0 .6rem 0;
}

h1 strong {
    color: var(--very-dark-blue);
    font-weight: 700;
    
    margin-right: 4px;
}

p {
    color: var(--dark-grayish-blue);
    font-size: 14px;

    margin-bottom: 1.5rem;
}

hr {
    width: 100%;
    color: var(--dark-gray);
    opacity: .25
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 1.4rem 0;
    text-align: center;
}

.numbers {
    text-align: center;

    font-size: 18px;
    color: var(--very-dark-blue);
}

.description small {
    font-size: 12px;
    letter-spacing: 1.4px;
    color: var(--dark-gray);
}

footer {
    position: fixed;
    bottom: 0;
    opacity: .6;
}